---
- name: Install Phantomjs
  apt: pkg=phantomjs state=latest
  sudo: yes

- name: Install common NPM packages
  sudo: yes
  npm: name={{ item }} state=present global=yes
  with_items:
      - yo
      - bower
      - grunt-cli
      - generator-djangularjs
      - protractor

- name: Setup virtualenv
  pip: name=pip virtualenv={{ PROJECT_ROOT }} state=latest
