/*Optional: override bootstrap defaults here */
$screen-sm: 400px;
$screen-md: 700px;
$screen-lg: 1000px;

$grid-gutter-width: 20px; // default is 30px
$container-margin: 40px;
// Small screen / tablet ** For `$screen-sm-min` and up.
$container-tablet: auto;
// Medium screen / desktop ** For `$screen-md-min` and up.
$container-desktop: auto;
// Large screen / wide desktop  ** For `$screen-lg-min` and up.
$container-large-desktop: 1000px;


@import "_/bootstrap-sass/assets/stylesheets/bootstrap",
        "_/bootstrap-sass/assets/stylesheets/bootstrap/theme";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("_/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("_/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
       url("_/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"),
       url("_/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
       url("_/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@import "core/styles/core.style",
        "auth/styles/auth.style"/* leave me here */;
