.password-strength {
  position: relative;

  .progress {
      position: absolute;
      left: 0.8px;
      right: 1px;
      bottom: 1px;
      margin: 0;
      height: 4px;
      border-radius: 0 0 3px 3px;
  }
  input {
    z-index: 1;
  }
}